body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(background.png);
  background-size: 800px;
  background-position: left
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
 -webkit-text-stroke-color: black;
 -webkit-text-stroke-width: 0.5px;
}

section {
  background-color: transparan;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
  background-color: blue;
  border-radius: 100px;
  padding: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: georgia;
  color: white;
  font-weight: bold;
  background-color: black;
  border-radius: 100px;
  text-align: center;
  padding: 20px
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  clear: both;
}
.marquee-left {
	background-color: black;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-weight: bold;
	color: white
}